<p id="notice"><%= notice %></p>

<h1>Liste des Clubs</h1>
 <% a = 0 %>

<%if a == @clubs.count %>
  <h1><%= link_to 'Créer un club', new_club_path %></h1>
  
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.category %></td>
        <td><%= link_to 'Afficher', club %></td>

        <% if user_signed_in? && current_user.role === 'admin' %>
                <td><a href="#" data-clubid ="<%=@club.id%>" data-quarterid="<%=@club.quarter_id%>" class="club_edit">Edit</a></td>
                <td><%= link_to 'Supprimer', club, method: :delete, data: { confirm: 'Voulez vous vraiment supprimer ce club?' } %></td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


