<button><%= link_to 'Club', clubs_path %></button>

<button><%= link_to 'Event', events_path %></button>

<button><%= link_to 'Quarter', quarters_path %></button>

<button><%= link_to 'Recrutement', recrutements_path %></button>

<button><%= link_to 'Request', requests_path %></button>

