<% if @user == current_user %>
<h1>Mon profil</h1>
<button><%= link_to "Modifier mon profil", edit_user_registration_path %></button>
<button><%= link_to "Mettre à jour mon compte", edit_user_path %></button>
<%else%>
<h1>Profil de <%= @user.pseudonym %></h1>
<%end%>
<ul>
	<li>Pseudo: <%= @user.pseudonym%> </li>
	<li>Prénom: <%= @user.first_name%> </li>
	<li>Nom: <%= @user.last_name%> </li>
	<li>Email: <%= @user.email%> </li>
	<li>Age: <%= @user.age%> </li>
	<li>Genre: <%= @user.gender%> </li>
	<li>Description: <%= @user.description%> </li>
	<% if @user.quarter != nil%>
		<li>Quartier:<%= link_to "#{@user.quarter.name}", quarter_path(@user.quarter.id)%> </li>
			<% unless @user.club == nil %>
			<li>Club: <%= link_to "#{@user.club.name}", club_path(@user.club.id) %> </li>
			<% end %>
	<%else%>
	<% end %>
</ul>

