<%= form_with(model: recrutement, local: true) do |form| %>
  <% if recrutement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recrutement.errors.count, "error") %> prohibited this recrutement from being saved:</h2>

      <ul>
        <% recrutement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form_tag url_for(action: 'create'), method: "recrutement" do %>
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >

  <div class="field">
    <%= label_tag :content %>
    <%= text_area_tag :content, @recrutement.content  %>
  </div>
  <div class="field">
    <input type="hidden" name="club_id" value="<%=@club.id%>">
  </div>

  <div class="field">
    <%= label_tag :deadline %>
    <%= text_field_tag :deadline, @recrutement.deadline %>
  </div>

  <div class="actions">
    <%= submit_tag "creer recrutement" %>
  </div>
<% end %>
<% end %>
