<p id="notice"><%= notice %></p>

<h1>Recrutements</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recrutements.each do |recrutement| %>
      <tr>
        <td><%= recrutement.content %></td>
        <td><%= recrutement.deadline %></td>
        <td><%= link_to 'Show', recrutement %></td>

<% if current_user == recrutement.club.admin %>
        <td><%= link_to 'Edit', edit_recrutement_path(recrutement) %></td>
        <td><%= link_to 'Destroy', recrutement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

