 <h1> <%= @club.name%> </h1>
 <strong> <%= @club.category%> </strong>

  <h5>Ajouter une photo pour votre club?</h5>
    <%= form_tag club_pictures_path(@club.id), multipart: true do %>
    <%= file_field_tag :picture %>
    <%= submit_tag "Ajouter" %>
  <% end %>